<div class="footer">
    <div class="footer-left">
      <p class="name">Stavros Nastos</p>
      <a [routerLink]="['impressum']" routerLinkActive="router-link-active" class="impressum-link">Impressum</a>
    </div>
    <div class="footer-center">
      <p>© Stavros Nastos 2024</p>
    </div>
    <div class="footer-right">
      <a href="https://github.com/yourprofile" target="_blank">
        <img src="../../assets/icons/github.png" alt="GitHub" class="footer-icon">
      </a>
      <a href="mailto:yourmail@example.com">
        <img src="../../assets/icons/email.png" alt="Mail" class="footer-icon">
      </a>
      <a href="https://www.linkedin.com/in/yourprofile" target="_blank">
        <img src="../../assets/icons/linkedin.png" alt="LinkedIn" class="footer-icon">
      </a>
    </div>
  </div>
  