<div id="contact" class="contact-container">
    <div class="contact">
        <div class="contact-header">
            <img class="vector" src="../../assets/vectors/vector_1.png" alt="vector">
            <h1>{{ 'contact.header.title' | translate }}</h1>
        </div>
        <div class="contact-content">
            <div class="contact-info">
                <h2>{{ 'contact.info.problem' | translate }}</h2>
                <p>{{ 'contact.info.description' | translate }}</p>
                <p [innerHTML]=" 'contact.info.need_dev' | translate "></p>
            </div>
            <div>

                <button (click)="scrollToTop()" class="scroll-up-button"><img src="../../assets/icons/arrow_up.png" alt=""></button>
            </div>
            <form class="example-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ 'contact.form.name.label' | translate }}</mat-label>
                    <input type="text" matInput formControlName="name"
                        [placeholder]=" 'contact.form.name.placeholder' | translate">
                    <mat-error *ngIf="contactForm.get('name')?.hasError('minlength')">
                        {{ 'contact.form.name.minlength_error' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('name')?.hasError('required')">
                        {{ 'contact.form.name.required_error' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>{{ 'contact.form.email.label' | translate }}</mat-label>
                    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                        [placeholder]=" 'contact.form.email.placeholder' | translate">
                    <mat-hint>{{ 'contact.form.email.valid_email' | translate }}</mat-hint>
                    <mat-error
                        *ngIf="contactForm.get('email')?.hasError('email') && !contactForm.get('email')?.hasError('required')">
                        {{ 'contact.form.email.valid_email' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
                        {{ 'contact.form.email.required_error' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>{{ 'contact.form.message.label' | translate }}</mat-label>
                    <textarea matInput formControlName="message"
                        [placeholder]=" 'contact.form.message.placeholder' | translate"></textarea>
                    <mat-error *ngIf="contactForm.get('message')?.hasError('minlength')">
                        {{ 'contact.form.message.minlength_error' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
                        {{ 'contact.form.message.required_error' | translate }}.
                    </mat-error>
                </mat-form-field>

                <div class="custom-checkbox">
                    <input type="checkbox" id="customCheckbox" formControlName="terms">
                    <label for="customCheckbox">
                        {{ 'contact.form.terms.label' | translate }}&nbsp;
                    </label>
                    <a [routerLink]="['/privacy']" class="privacy-link">{{ 'contact.form.terms.link' | translate }}</a>
                </div>


                <button type="submit" [disabled]="!contactForm.valid || !contactForm.get('terms')?.value"
                    class="submit-button">
                    {{ 'contact.form.submit_button' | translate }}
                </button>
            </form>

        </div>
        <div class="message-sent-container" [ngClass]="{'show': messageSent}">
            <span class="message-sent">
                {{ 'contact.form.name.message_sent' | translate }}
            </span>
        </div>
    </div>
</div>