<div class="header-container">
  <div class="header">
    <h1>{{ 'header.title' | translate }}</h1>
    <div class="header-menu">
      <a (click)="scrollToSection('about-me')">{{ 'header.about_me' | translate }}</a>
      <a (click)="scrollToSection('skills')">{{ 'header.skills' | translate }}</a>
      <a (click)="scrollToSection('portfolio')">{{ 'header.portfolio' | translate }}</a>
      <button class="language-toggle" (click)="switchLanguage()">
        {{ translateService.currentLang === 'de' ? 'EN' : 'DE' }}
      </button>
    </div>
    
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>

    <!-- Sprachwechsel-Button -->
    
  </div>

  <div id="popup-menu" class="popup-menu" [ngStyle]="{'display': isMenuVisible ? 'block' : 'none'}">
    <div class="popup-menu-content">
      <button class="language-toggle" (click)="switchLanguage()">
        {{ translateService.currentLang === 'de' ? 'EN' : 'DE' }}
      </button>
      <div class="popup-menu-links">
      <a (click)="scrollToSection('about-me'); toggleMenu()">{{ 'header.about_me' | translate }}</a>
      <a (click)="scrollToSection('skills'); toggleMenu()">{{ 'header.skills' | translate }}</a>
      <a (click)="scrollToSection('portfolio'); toggleMenu()">{{ 'header.portfolio' | translate }}</a>
    </div>
      <button class="close-menu" (click)="toggleMenu()">Close</button>
    </div>
  </div>
</div>
