html, body {
  margin: 0;
  background-color: #141D2F;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2a38;
  
  background-position: right;
  background-repeat: no-repeat;
  background-size: 600px;
}

.about-me {
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  max-width: 1440px;
  width: 100%;
  /* Verhindert Overflow innerhalb dieses Containers */
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 566px;
  height: 40px;
  margin-left: 100px;
}

.vector {
  width: 100px;
  height: auto;
}

.icons {
  display: flex;
  gap: 32px;
}

.icons a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.icons a img:hover {
  transform: scale(1.6);
}

.email a {
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  color: white;
  text-decoration: none;
}

.email a:hover {
  text-decoration: underline;
}

.about-me-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 100px;
}

.text-section {
  width: 471px;
  height: 532px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-section h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin: 40px 0 20px;
  text-align: left;
}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
  text-align: left;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-item img {
  width: 48px;
  height: 48px;
  transition: transform 0.3s;
}

.info-item img:hover {
  transform: scale(1.6);
}

.info-item p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.image-section {
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 200px;
  margin-top: 85px;
  background-image: url('../../../assets/backgrounds/purple1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 380px;
}

.simple-profile-image {
  width: 130%; /* Passe die Breite an */
  height: 110%; /* Proportionale Höhe */
  border: none; /* Entfernt alle Ränder */
  border-radius: 40px;
  object-fit: cover; /* Bild an den Container anpassen */
}

.line {
  position: absolute;
  top: 50%;
  left: 100%;
  /* Positioniert die Linie direkt am rechten Rand des Bildes */
  width: 300px;
  /* Feste Breite für die Linie */
  height: 4px;
  /* Höhe der Linie */
  background-color: #70E61C;
  /* Farbe der Linie */
  transform: translateY(-50%);
  /* Zentriert die Linie vertikal */
  /* Kein overflow:hidden, da die Linie innerhalb der .image-section bleiben sollte */
}


@media (max-width: 900px) {

  
  .image-section {   
    display: block; /* Bild unter dem Text anzeigen */
    margin-top: 20px; /* Abstand zwischen Text und Bild */
    width: 100%; /* Breite anpassen */
    padding-right: 0; /* Kein Padding auf der rechten Seite */
    text-align: center; /* Bild zentrieren */
  }

  .simple-profile-image {
    width: 80%; /* Breite des Bildes verringern */
    height: auto; /* Höhe automatisch anpassen */
    max-width: 250px; /* Maximalbreite einstellen */
  }

  .about-me-container {
    flex-direction: column; /* Elemente untereinander anordnen */
    justify-content: center;
    margin-left: 0;
    margin-top: 140px;
    background-image: none;
    margin-bottom: 0;
  }

  .text-section {
    width: 100%; /* Breite anpassen */
    text-align: center; /* Text zentrieren */
    margin-bottom: 40px; /* Abstand zwischen Text und Bild */
  }
}


@media (max-width: 600px) {
  .contact-info {
    margin-left: 26px;
    gap: 20px;
  }

  .email a {
    display: none;
  }

  .icons {
    gap: 20px !important;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  
  .image-section {
    padding-top: 150px;
  }

}

@media (max-width: 400px) {
  .contact-info {
    margin-bottom: 50px;
  }
  
  h1 {
    font-size: 40px !important;
  }

  .about-me {
    padding-top: 60px;
  }

  .about-text {
    font-size: 15px !important;
  }

  .info-item {
    gap: 5px;
  }

  .info-item p {
    font-size: 15px;
  }

  .info-item img {
    width: 35px;
    height: 35px;
  }

 
}
