<div id="about-me" class="container">
  <div class="about-me">
    <div class="contact-info">
      <div class="icons">
        <a href="https://facebook.com" target="_blank"><img src="assets/icons/github.png" alt="Facebook"></a>
        <a href="https://github.com" target="_blank"><img src="assets/icons/email.png" alt="GitHub"></a>
        <a href="https://twitter.com" target="_blank"><img src="assets/icons/linkedin.png" alt="Twitter"></a>
      </div>
    </div>

    <div class="about-me-container">
      <div class="text-section">
        <h1>About Me</h1>
        <p class="about-text">
          Hello, I'm a Frontend Developer based in Datteln, near Dortmund. Driven by my passion for technology and design, I am dedicated to creating dynamic and visually engaging websites and applications. With a keen eye for detail and a commitment to user experience, I am excited about the opportunity to contribute to innovative projects and advance my skills in the ever-evolving field of web development.
        </p>
        <div class="info-section">
          <div class="info-item">
            <img src="assets/icons/location.png" alt="Icon 1">
            <p>Adaptable to various work settings, I am equally comfortable working on-site or remotely.</p>
          </div>
          <div class="info-item">
            <img src="assets/icons/bulb.png" alt="Icon 2">
            <p>I embrace new ideas and am constantly seeking personal challenges to enhance my knowledge and skills.</p>
          </div>
          <div class="info-item">
            <img src="assets/icons/puzzle.svg" alt="Icon 3">
            <p>For me, programming is more than just coding—it's about solving problems in creative ways. I enjoy breaking down complex issues into easy-to-use solutions, helping you reach your goals and make your ideas a reality.</p>
          </div>
        </div>
      </div>

      <!-- Einfaches Bild ohne Kreis -->
      <div class="image-section">
        <img src="assets/img/self/transparent_portfolio_picture.png" alt="Profile Image" class="simple-profile-image">
      </div>
    </div>
  </div>
</div>
