<div id="about-me" class="container">
  <div class="about-me">
    <div class="contact-info">
      <div class="icons">
        <a href="https://github.com/NastosStavros" target="_blank"><img src="assets/icons/github.png" alt="Github"></a>
        <a target="_blank" (click)="scrollToSection('contact')"><img src="assets/icons/email.png" alt="GitHub"></a>
        <a href="https://www.linkedin.com/in/stavros-nastos-479720324/" target="_blank"><img src="assets/icons/linkedin.png" alt="LinkedIn"></a>
      </div>
    </div>

    <div class="about-me-container">
      <div class="text-section">
        <h1>About Me</h1>
        <p class="about-text">
          I'm a Frontend Developer based in Datteln, near Dortmund. My passion for technology and design drives me to create dynamic and engaging websites. I’ve honed my skills through a retraining program, all while balancing a full-time job as a special education teacher. My background has instilled in me qualities like adaptability, problem-solving, and dedication—traits that serve me well in both teaching and software development. I’m excited to contribute to innovative projects and continue growing in the evolving world of web development.
        </p>
        <div class="info-section">
          <div class="info-item">
            <img src="assets/icons/location.png" alt="Icon 1">
            <p>Adaptable to various work settings, I am equally comfortable working on-site or remotely.</p>
          </div>
          <div class="info-item">
            <img src="assets/icons/bulb.png" alt="Icon 2">
            <p>I embrace new ideas and am constantly seeking personal challenges to enhance my knowledge and skills.</p>
          </div>
          <div class="info-item">
            <img src="assets/icons/puzzle.svg" alt="Icon 3">
            <p>For me, programming is more than just coding—it's about solving problems in creative ways. I enjoy breaking down complex issues into easy-to-use solutions, helping you reach your goals and make your ideas a reality.</p>
          </div>
        </div>
      </div>

      <!-- Einfaches Bild ohne Kreis -->
      <div class="image-section">
        <img src="assets/img/self/transparent_portfolio_picture.png" alt="Profile Image" class="simple-profile-image">
      </div>
    </div>
  </div>
</div>
