<div id="portfolio" class="portfolio-main">
    <div class="portfolio">
        <div class="portfolio-header">
            <img class="vector1" src="../../assets/vectors/vector_1.png" alt="vector">
            <h1>Portfolio</h1>
            <img class="vector2" src="../../assets/vectors/vector_1.png" alt="vector">
        </div>
        <div class="portfolio-description">
            <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
        </div>


        <div class="portfolio-container">
            <div class="portfolio-item">
                <img src="../../assets/img/self/join.png" alt="Project Image" class="portfolio-image">
                <div class="portfolio-text">
                    <h2>Join</h2>
                    <p class="project-tools">Angular | TypeScript | HTML | CSS | Firebase</p>
                    <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
                        functions,
                        assign users and categories.</p>
                    <button class="portfolio-button live-test">Live test</button>
                    <button class="portfolio-button github margin-zero">GitHub</button>
                </div>
            </div>

            <!-- Zweiter Abschnitt mit Text links und Bild rechts -->
            <div class="portfolio-item reverse">
                <div class="portfolio-text-2">
                    <h2>El pollo loco</h2>
                    <p class="project-tools">JavaScript | HTML | CSS</p>
                    <p>A simple Jump-and-Run game based on an object-oriented approach. Help Carlos to find coins and
                        Tequila
                        bottles to fight against the killer chickens.</p>
                    <div class="text-2-buttons">
                        <button class="portfolio-button github">GitHub</button>
                        <button class="portfolio-button live-test margin-zero">Live test</button>
                    </div>
                </div>
                <img src="../../assets/img/self/pollo_loco.png" alt="Project Image" class="portfolio-image">
            </div>
        </div>
    </div>
</div>