<div id="skills" class="my-skills">
    <div class="skills-container">
      <div class="skills" data-aos="flip-right"> <!-- Animation für die Skills-Sektion -->
        <div class="skills-section" data-aos="zoom-in"> <!-- Animation für die Skill-Sektion -->
          <div class="skill-item" *ngFor="let skill of skills; let last = last">
            <img [src]="skill.icon" [alt]="skill.name" class="skill-icon">
            <p class="skill-name">{{ skill.name }}</p>
  
            <!-- Bild nur im letzten skill-item -->
            <div *ngIf="last" class="image-on-hover">
              <img src="../../assets/icons/popup.png" alt="Hovered Image">
            </div>
          </div>
        </div>
      </div>
  
      <div class="skills-section-right" data-aos="fade-left"> <!-- Animation für die rechte Skill-Sektion -->
        <div class="header-with-vector">
          <h1>{{ 'skills.title' | translate }}</h1>
          <img src="../../assets/vectors/vector_1.png" alt="Vector" class="vector-icon">
        </div>
        <p class="description">
          {{ 'skills.description' | translate }}
        </p>
        <h2>{{ 'skills.another_skill' | translate }} <span class="highlight">{{ 'skills.highlight' | translate }}</span>?</h2>
        <p class="contact-text">
          {{ 'skills.contact_text' | translate }}
        </p>
        <button class="get-in-touch" (click)="scrollToSection('contact')">{{ 'skills.get_in_touch' | translate }}</button>
      </div>
      
    </div>
  </div>
  