<div class="header">
  <h1>{{ 'impressum.header.name' | translate }}</h1>
  <button class="impressum-button" [routerLink]="['']">{{ 'impressum.header.button' | translate }}</button>
  <button class="language-toggle" (click)="switchLanguage()">
    {{ translateService.currentLang === 'de' ? 'EN' : 'DE' }}
  </button>
</div>

<div class="impressum">
  <h1>{{ 'impressum.title' | translate }}</h1>

  <p>{{ 'impressum.address.name' | translate }}<br />
      {{ 'impressum.address.street' | translate }}<br />
      {{ 'impressum.address.city' | translate }}</p>

  <h2>{{ 'impressum.contact.title' | translate }}</h2>
  <p>{{ 'impressum.contact.phone' | translate }}<br />
      {{ 'impressum.contact.email' | translate }}</p>

  <p>{{ 'impressum.source' | translate }} <a href="https://www.e-recht24.de">e-recht24.de</a></p>
</div>
