<div class="header">
    <h1>Stavros Nastos</h1>
    <button class="impressum-button" [routerLink]="['']">Zurück zur Startseite</button>
  </div>

<div class="impressum">
    <h1>Impressum</h1>
  
    <p>Stavros Nastos<br />
        Bahnhofstrasse 98<br />
        45711 Datteln</p>
  
    <h2>Kontakt</h2>
    <p>Telefon: 01776165752<br />
        E-Mail: n.stavros&#64;outlook.de</p>
  
    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
  
    <!-- Button to go back to the main page -->
   
  </div>
  