.privacy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #141D2F;
    padding: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 100px;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #70E61C;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    z-index: 1000; /* Make sure the button stays on top */
    margin-left: 100px;
    margin-top: 100px;
  }
  
  .back-button:hover {
    background-color: #9747FF;
  }
  